@import url('https://fonts.googleapis.com/css?family=Roboto');

html { font-family: 'Roboto', sans-serif; }



.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menubar{

}

.seteventtoggle{
  border: 2px solid blueviolet;
  /* margin-top: 65px; */
  padding-bottom: 80px;
  width: 98%;
  margin: 100px auto auto;
}

@media screen and (min-width: 964px){
  .seteventtoggle {
    width: 60%;
  }
}