@import url('https://fonts.googleapis.com/css?family=Roboto');

/* html { font-family: 'Roboto', sans-serif; } */



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
/* 
.App-intro {
  font-size: large;
} */
/* cal month label */
.rbc-toolbar-label {
  font-size: 1.3em;
  text-align: left;

}

/* cal event label */
.rbc-event-content{
  font-size: 0.6em;
}

.upcoming-events-header {
  text-align: center;
  background-color: '#4c3187';
}