
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}
.full-page-container {
  display: flex;
}
.side-content-container {
  width: 30%;
  border: 2px solid yellow;
}
.changing-content-container {
  width: 60%;
  border: 1px solid aqua;
}
.main-content-container {
  display: flex;
  width: 100%;
  border: 1px solid purple;
  justify-content: center;
}

/* .seteventtoggle{
  border: 2px solid blueviolet;
  padding-bottom: 80px;
  width: 98%;
  margin: 100px auto auto;
} */

@media screen and (min-width: 964px){
  .seteventtoggle {

  }
}