
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}
.full-page-container {
  display: flex;
}
.side-content-container {
  border: 2px solid yellow;
  display: none;
  width: 100%;
}
.changing-content-container {
  border: 1px solid aqua;
  width: 100%;
}
.main-content-container {
  border: 1px solid purple;
  display: flex;
  margin: 0 auto;
}


@media screen and (min-width: 764px){
  .main-content-container {
    border: 1px solid violet;
    max-width: 1024px;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .changing-content-container {
    border: 1px solid aqua;
    width: 70%;
    max-height: 500px;
  }
  .side-content-container {
    border: 2px solid yellow;
    display: unset;
    width: 25%;
  }
}