body {
  margin: 0;
  font: 300 20px/30px "Open Sans",open-sans,sans-serif;
  color:#7e8890;
  line-height: 1.9em;
}
h1 {
  font: 300 50px/65px "Open Sans",open-sans,sans-serif;
  color:white;
}
h2 {
  font: 300 35px/52px "Open Sans",open-sans,sans-serif;
  color: #333c4e;
}
h3 {
  font: 300 30px/47px "Open Sans",open-sans,sans-serif;
  color: white;
}
nav {
  height: 80px;
  background-color: #50B9D1;
  border-bottom: 1px solid #007884;
}
.top-logo img {
  height: 50px;
}
main {
  margin-bottom: 150px;
}
.landing-header-container {
  max-height: 500px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login a {
  text-decoration: none;
  font-style: none;
  color: white;
  margin-right: 30px;
  font-size: 20px;
}
.login a:hover {
  cursor: pointer;
  color: #007884;
  transition: all .75s;
}

.video-container {
  width: 100%;
  max-height: 800px;
  background-attachment: scroll;
  overflow: hidden;
  margin-bottom: 100px;
}
.fillWidth {
  width: 100%;
  z-index: 1;
}
/* .filter {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: #50B9D1;
  opacity: 0.3;
} */

.main-headline {
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  width: 1000px;
  font-size: 1.5em;
  z-index: 20;
  margin-left: 12%;
  margin-top: 10;
  line-height: 2em;
}

.sub-headline {
  position: absolute;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 1000px;
  font-size: 1.5em;
  z-index: 20;
  margin-left: 25%;
  margin-top: 22%;
}

#get-started {
  position: absolute;
  z-index: 20;
  height: 55px;
  width: 150px;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 30%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border: none;
  background-color: white;
  color: #50B9D1;
  transition: all .5s;
}

#get-started:hover {
  color: white;
  background-color: #50B9D1;
}


.hidden {
  display: none;
}

.section-container,
.about-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 100px;
}

.img-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container {
  width: 95%;
}
.image-container {
  width: 100%;
  
}

.image-container img {
  width: 100%;
  box-shadow: 2px 2px 5px lightgrey;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.landing-footer-container {
  height: 200px;
  background-color: #50B9D1;
  border-top: 1px solid #007884;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-footer-info {
  max-width: 400px;
  color: white;
}


@media screen and (min-width: 768px){
  .landing-header-container {
    height: 700px;
  }
  .section-container,
  .about-container {
    margin-top: 200px;
  }
  
  .description-container,
  .image-container {
    width: 50%;
  }
  .section-container,
  .about-container,
  .img-right {
    display: flex;
    flex-direction: row;
  }
  .image-container img {
    width: 100%;
    box-shadow: 4px 4px 6px lightgray;
  }
  .landing-description {
    width: 70%;
    font-size: 18px;
  }
  .landing-footer-container {
    height: 300px;
  }
}

@media screen and (min-width: 1024px){
  .landing-description {
    width: 60%;
  }
  .landing-main-container {
    padding-top: 150px;
  }
}